.footer {
     margin-top:45px;
     background-color:#666;
     padding:30px;
     border-top:5px #FFDF00 solid;

}
nav {
    float:right;
    margin-top:30px;
}
a {
    color:gray;
    font-size:1.5em;
    
}
nav>a {
    margin-right:20px;
    

}
.about-image {
    max-width:200px;
    margin-right:20px;
    float:left; 
}
img {
    width:100%;
}
.topline {
    border-bottom: 2px solid gray;
    margin-top:30px;
    margin-bottom:30px;
}

.col-sm{
    border: 1px solid red;
}

.header{
    
    background:white;
    border-bottom:gray 1px solid;
}

#content{
    font-size:1.2em;
    background:white;
    border: gray solid 1px;
    margin-top:40px;
    padding:20px;


}
h1 {
    margin-top:20px;
    color:#FFDF00;
}
body {
    
    background-image:url("../images/concrete_seamless.png")
}


#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding:  10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #FFDF00;
  border: 0 none;
}

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #FFDF00;
  border-bottom: 0;
}

.repo h4 {
  border: solid black 1px;
}

#LinkedIn {
  position:absolute;
  top:35px;
}

.name{
  padding: 30px;
  color:white;
  background-color:#FFDF00;
  padding:20px;
  font-size:1.5em;
  
}
#topnumber,
#topemail {
  font-size:15px;
  position: absolute;
}
#topnumber {
  top:70px;
  left:85px;
}
#topemail {
  top:50px;
  left:70px;

}
#topname {
  position:relative;
  bottom:20px;
  left:10px;
  font-size:1.5em;
}